{% extends 'base.html' %}
{% load static %}
{% block title %}Subscription List{% endblock %}
{% block style %}
<!-- DataTables -->

<style>
    .card {
        width: 100%;
    }
  </style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="card">
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Passport Number</th>
                    <th>Issue Date</th>
                    <th>Expiry Date</th>
                    {% if user.role == 'admin' %}
                    <th>Plan</th>
                    {% endif %}
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for subscription in subscriptions %}
                    <tr>
                        <td>{{subscription.first_name}}</td>
                        <td>{{subscription.last_name}}</td>
                        <td>{{subscription.passport_number}}</td>
                        <td>{{subscription.issue_date}}</td>
                        <td>{{subscription.expiry_date}}</td>
                        {% if user.role == 'admin' %}
                        <td>{{subscription.plan.name}}</td>
                        {% endif %}
                        <td>
                            <a href="{% url 'core:subscription-details' subscription.pk %}" class="btn bg-gradient-primary btn-sm">View</a>
                            {% if user.role == 'staff' %}
                            <a href="" data-subscription-id="{{subscription.pk}}" class="btn bg-gradient-success btn-sm approve">Approve</a>
                            {% endif %}    
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


{% endblock %}
{% block extra_js %}
<script>
  $('.approve').on('click', function(e){
    e.preventDefault();
    console.log('clicked');
    const subscriptionId = $(this).data('subscription-id');
    console.log(subscriptionId);
    fetch(`/verify-subscription/${subscriptionId}/`, {
      method: 'GET',
    })
    .then(response => {
      if (response.ok) {
        window.location.reload(); 
      } else {
        console.error('Network response was not ok.');
      }
    })
    .catch(error => {
      console.error('There has been a problem with your fetch operation:', error);
    });
  });
</script>
{% endblock %}